{% extends 'kassa.html' %}
{% load static %}

{% block title %}Your shopping cart{% endblock %} 

{% block list %} 
<div class="display1080">
	<h1>Savatcha</h1> 
	<table class="cart"> 
	   <thead class="sarlavha_xona"> 
		   <tr> 
			   <th>Image</th> 
			   <th>Product</th> 
			   <th>Unit price</th> 
			   <th>Price</th> 
			   <th>Quantity</th> 
			   <th>Remove</th> 
		   </tr> 
	   </thead> 
	   <tbody> 
	   {% for item in cart %} 
		   {% with product=item.product %} 
			   <tr> 
				   <td class="rasm_xona"> 
					   <a href="{{ product.get_absolute_url }}"> 
						   <img src="{% if product.image %}{{ product.image.url }} 
						   {% else %}{% static 'images/no_image.png' %}{% endif %}"> 
					   </a> 
				   </td> 
				   <td>{{ product.name }}</td> 
				   <td class="num">{{ item.sotish_narxi }}  Sum</td> 
				   <td class="num">{{ item.total_price }}  Sum</td> 
				   <td>
					   <form action="{% url 'cart:cart_add' product.id %}" method="post">
						   	<span class='minus'>-</span>
							<label for="">
								<input type="hidden" class='current' value="{{ item.quantity }}" name="" id="">
								<span  class='currents'>{{ item.quantity }}</span>
							</label>
							<span class='plus'>+</span>
							<input type="submit" value="Update" class="tasdiq">
							{% csrf_token %}
						   
					   </form>
				   </td> 
				   <td><a href="{% url 'cart:cart_remove' product.id %}" class="uchirish">O'chirish</a></td> 
			   </tr> 
		   {% endwith %} 
	   {% endfor %} 
   
	   <tr class="total"> 
		   <td>Total</td> 
		   <td colspan="4"></td> 
		   <td class="num">{{ cart.get_total_price }} Sum</td> 
	   </tr> 
	   </tbody> 
	</table> 
	<br>
	<p class="text-right"> 
	<a href="{% url 'product:product_list' %}" class="qaytish">Savdoni davom ettirish</a> 
	<a href="{% url 'orders:order_create' %}" class="tasdiq">Checkout</a> 
	</p> 
</div>



<script>
	let current = document.querySelectorAll('.current'),
		currents = document.querySelectorAll('.currents'),
		plus = document.querySelectorAll('.plus'),
		minus = document.querySelectorAll('.minus');
	  
plus.forEach((val,i)=> {
    val.addEventListener("click", ()=>{
        current[i].value = ++current[i].value
		currents[i].textContent = current[i].value
    })
});

minus.forEach((val,i)=> {
    val.addEventListener("click", ()=>{
		if(+current[i].value>0){
			current[i].value = --current[i].value
			currents[i].textContent = current[i].value
		}
	})
});


</script>
{% endblock list %}