{% extends 'base.html' %}
{% load static %}

{% block title %}
    Admin
{% endblock title %}

{% block content %}
<div class="quti">
    <a href="{% url 'account:adprlist' %}">
        <div class="podquti">
            <img src="{% static 'images/icons/mahsulot.svg' %}" alt="">
            <h2>Mahsulotlar</h2>
        </div>
    </a>
    <a href="{% url 'product:product_list' %}">
        <div class="podquti">
            <img src="{% static 'images/icons/kassa.svg' %}" alt="">
            <h2>Kassa</h2>
        </div>
    </a>
    <a href="{% url 'account:aduserlist' %}">
        <div class="podquti">
            <img src="{% static 'images/icons/hodim.svg' %}" alt="">
            <h2>Hodimlar</h2>
        </div>
    </a>    
    <a href="">
        <div class="podquti">
            <img src="{% static 'images/icons/kirim.svg' %}" alt="">
            <h2>Kelgan mahsulotlar</h2>
        </div>
    </a>
    <a href="{% url 'account:adorlist' %}">
        <div class="podquti">
            <img src="{% static 'images/icons/history.svg' %}" alt="">
            <h2>Savdolar tarixi</h2>
        </div>
    </a>
    <a href="">
        <div class="podquti">
            <img src="{% static 'images/icons/haridor.svg' %}" alt="">
            <h2>Haridorlar</h2>
        </div>
    </a>
</div>
{% endblock content %}