{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}

        <h1>Dashboard</h1>
    <hr>
    <p>Dashboardga xush kelibsiz. Profilni <a href="{% url 'account:edit' %}">tahrirlashingiz</a>  yoki parolingizni <a href="{% url 'password_change' %}">o'zgartirishingiz</a> mumkin</p>

{% endblock content %}