{% extends "base.html" %}

{% block title %}Profilni tahrirlash{% endblock %}

{% block content %}
    <div class="display1080">
        <h1>Profilni tahrirlash</h1>
        <p>Formani to'ldirish orqali ma'lumotlaringizni o'zgartirishingiz mumkin</p><br>
        <hr>
        
        <form action="." method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Saqlash"></p>
        </form>
    </div>
{% endblock %}