{% extends 'base.html' %}

{% block title %}
Chiqib ketilgan
{% endblock title %}

{% block content %}
    <h1>Tizimdan chiqib ketilgan</h1>
    <p>Siz tizimdan chiqib kettingiz hohlasangiz yana tizimga <a href="{% url 'login' %}">kirishingiz</a> mumkin</p>
{% endblock content %}
