{% extends 'base.html' %}
{% load static %}
{% block title %}Log-in{% endblock title %}

{% block content %}

<div class="display1080">
    
<form action='.' method='post' style="border:1px solid #ccc">
    <div class="container">
      <h1>Kirish</h1><br>
      <p>Iltimos ma'lumotlaringizni kiriting.</p><br>
      <hr>
      
      {{form.as_p}}
      {% csrf_token %}
      <input type='hidden' name='next' value='{{ next }}' />  
        
        <div class="clearfix">
            <button type="submit" class="signupbtn">Kirish</button>
        </div>
        {% comment %} <p>Hisobingiz yo'qmi ? <a href="{% url 'logout' %}" style="color:dodgerblue">Ro'yxatdan o'tish</a>.</p> {% endcomment %}
        <p>Tizimda yangimisiz ?  <a href="{% url 'account:register' %}">Ro'yxatdan o'tish</a></p>
        <p><a href="{% url 'password_reset' %}">Parolingizni unutdingizmi ?</a></p>
    </div>
  </form>   
</div>

{% endblock content %}