{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="display1080">
    <h1>Parolingizni unutdingizmi ?</h1>
    <p>Parolni tiklash uchun email manzilingizni kiriting</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Jo'natish"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}