{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h1>Password set</h1>
    <p>Parol muvaffaqiyatli o'zgartirildi endi 
    <a href="{% url 'login' %}">kirish</a>ingiz mumkin</p>
{% endblock %}