{% extends 'base.html' %}

{% block title %}Parolni tiklash{% endblock %}

{% block content %}

    <div class="display1080">
        <h1>Parolni tiklash</h1>
        {% if validlink %}
            <p>Iltimos parolni ikki marta kiriting : </p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Parolni tiklash" /></p>
            </form>
        {% else %}
            <p>Parol tiklash linki avval ishlatilgan iltimos yangi link orqali kiring</p>
        {% endif %}
    </div>

{% endblock %}