{% extends "base.html" %}

{% block title %}Password changed{% endblock %}


{% block content %}
    <h1>Parol o'zgardi</h1>
    <hr>
    <p>Parol o'zgartirish muvaffaqiyatli amalga oshirildi.</p>
{% endblock %}