{% extends "base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
    <h1>Parolni o'zgartirish</h1>
    <p>Parolni o'zgartirish uchun formani to'ldiring</p>

    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="O'zgartirish"></p>
    </form>
{% endblock %}
