{% extends 'base.html' %}
{% block title %}Reset password{% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <hr>
    <p>Email manzilingizga parolni tiklash yo'riqnomasi yuborildi </p>
    <p>Agar emailingizga xabar kelmagan bo'lsa ro'yxatdan o'tgan emailingizni kiritganingizga ishonch xosil qiling</p>
{% endblock content %}