{% extends "base.html" %}

{% block title %}Xush kelibsiz{% endblock %}

{% block content %}
    <h1>Xush keldingiz {{ new_user.first_name }}!</h1>
    <p>Siz ro'yxatdan o'tdingiz 
    <a href="{% url 'login' %}">Kirish</a> tugmasi orqali profilga o'tishingiz mumkin</p>
{% endblock %}