{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="display1080">
        
        <form method="post" action="." style="border:1px solid #ccc">
            <div class="container">
                <h1>Ro'yxatdan O'tish</h1>
                <p>Ro'yxatdan o'tish uchun kerakli ma'lumotlarni kiriting</p>
                <hr>
                {{ user_form.as_p }}
                {% csrf_token %}
        
                <div class="clearfix">
                    <button type="submit" class="signupbtn">Ro'yxatdan o'tish</button>
                </div>
                <p>Eski hisobingiz bormi ? <a href="{% url 'login' %}" style="color:dodgerblue">Kirish</a>.</p>
            
            </div>
        </form>   
    
    </div>

{% endblock content %}