{% extends 'base.html' %}
{% load static %}
{% block title %}Hodimlar{% endblock title %}


{% block content %}
    <div class="panel_list">
        <table border="2">
            <tr>
                <th>Ism Familiyasi</th>
                <th>Rasmi</th>
                <th>Tug'ilgan yili</th>
                <th>Telefon raqami</th>
                <th>Lavozimi</th>
                <th>Activligi</th>
                <th>Qo'shgan shaxs</th>
            </tr>
            {% for hodim in hodimlar %}
                <tr>
                    <td>{{ hodim.user }}</td>
                    <td> 
                        <img class='table_img' src="{% if hodim.photo %}{{ hodim.photo.url }}
				            {% else %}{% static 'images/no_image.png' %}{% endif %}">
                    </td>
                    <td>{{ hodim.date_of_birth }}</td>
                    <td>{{ hodim.tel }}</td>
                    <td>{{ hodim.lavozim }}</td>
                    <td>
                        {% if hodim.active == True %}
                            <img width="30px" src="{% static 'images/icons/ptichka.svg' %}" alt="">
                        {% else %}
                            <img width="30px" src="{% static 'images/icons/uchiq.svg' %}" alt="">
                        {% endif %}    
                    </td>
                    <td>{{ hodim.created_by }}</td>
                </tr>
            {% endfor %}    
        </table>
            
    </div>    
{% endblock content %}