{% extends 'base.html' %}
{% load static %}
{% block title %}Savdolar tarixi{% endblock title %}


{% block content %}
    <div class="panel_list">
        {% if orders %}
            <table border="2">
                <tr>
                    <th>Buyurtma Raqami</th>
                    <th>Haridor Ismi</th>
                    <th>Haridor Familiyasi</th>
                    <th>To'landi</th>
                    <th>Harid vaqti</th>
                    <th>Qo'shgan shaxs</th>
                </tr>
                {% for ord in orders %}
                    <tr>
                        <td><a href="{{ ord.get_absolute_url }}">{{ ord.id }}</a></td>
                        <td>{{ ord.first_name }}</td>
                        <td>{{ ord.last_name }}</td>
                        <td><img width="30" src="
                        {% if ord.paid == True %}
                            {% static 'images/icons/ptichka.svg' %}
                        {% else %}
                            {% static 'images/icons/uchiq.svg' %}
                        {% endif %}
                            " alt="">
                        </td>
                        <td>{{ ord.created }}</td>
                        <td>{{ ord.created_by }}</td>
                    </tr>
                {% endfor %}    
            </table>
        {% else %}
            <h1>Saqlangan buyurtmalar mavjud emas !!!</h1>
        {% endif %}
            
    </div>    
{% endblock content %}