{% extends 'base.html' %}
{% block title %}Productlar{% endblock title %}


{% block content %}
    <div class="panel_list">
        {% if products %}
            <table border="2">
                <tr>
                    <th>Rasmi</th>
                    <th>Mahsulot Nomi</th>
                    <th>Kategoriyasi</th>
                    <th>Olingan Narxi</th>
                    <th>Sotilish Narxi</th>
                    <th>Omborda mavjud</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>
                            <img class='table_img' src="{{ product.image.url }}" alt="">
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.olingan_narxi }}</td>
                        <td>{{ product.sotish_narxi }}</td>
                        <td>
                        {% if product.available == True %}
                            {{ product.quantity }}
                        {% else %}
                            not available
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}    
            </table>
    
        {% else %}
            <h1>Omborda mahsulot yo'q !!!</h1>
        {% endif %}         
    </div>    
{% endblock content %}