*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    padding: 40px 30px;
    background: #04AA6D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

nav a{
    border: 2px solid white;
    border-radius: 6px;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}
.logo{
    font-size: 45px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.user{
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;

}
nav li{
    list-style: none;
}
.selected{
    color: #03613e;
}

/* ADMIN PANEL */
.quti{
    display: grid;
    grid-template-columns:33% 33% 33%;
    padding:50px 400px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.quti a{
    text-decoration: none;
    color: black;
}
.podquti{
    background: #04AA6D;
    padding: 30px;
    border-radius: 10px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.quti div img{
    width:70px;
    height:70px;
}
/* ADMIN  PANEL */
.display1080{
    max-width: 1080px;
    height: 100vh;
    padding: 50px 0;
    display: block;
    margin: auto;
}
/* KASSA */
.white{
    color: white;
    font-size: 18px;
}
.product_list{
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    gap: 20px;
}
.asosiy_kassa{
    /* display: grid;
    grid-template-columns: 70% 30%; */
    background: rgba(111, 161, 248, 0.536);
    color: white;
    padding: 50px;
}

.pr_card{
    width: 100% ;
    border-radius: 10px;
    border: 1px solid #04AA6D;
    background:white;
    color: black;
    overflow: hidden;
}
.pr_body{
    text-align: center;
    /* padding: 20px; */

}
.cart{
    width: 1080px;
    border: 2px solid #04AA6D;
    text-align: center;
    border-radius: 5px;
    background: #02db8bc3;
}
.cart img{
    max-width: 200px;
    height: 150px;
}
.rasm_xona{
    background: white;
    text-align: center;
}
.sarlavha_xona th{
    padding: 10px;
    border-radius: 3px;
    border: none;
    background: #04AA6D;
    color: white;

}
.pr_body h1{
    margin-bottom: 10px;
}
.pr_body a{
    text-decoration: none;
    color: #04AA6D;
}
.pr_img{
    height: 160px;
    max-width: 220px;
}
.pr_image{
    padding: 10px 0 0 0 ;
    text-align: center;
}
.knopka_prodaj, .tasdiq, .uchirish, .button{
    text-decoration: none;
    color: white;
    background: #04AA6D;
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    margin: 10px;
    width: 90% !important;
}
.qaytish{
    text-decoration: none;
    color:#04AA6D ;
    background: rgba(255, 255, 255, 0.712);
    backdrop-filter: blur(5px);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.total td{
    background: #04AA6D;
    padding: 10px;
    font-size: 18px;
}

.form_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.category_list{
    width: 100%;
    min-height: 80px;
    padding: 20px 0;
}
.category_list ul{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.category_list li{
    list-style: none;
}
.category_list a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background: #04AA6D;
}

/* DETAIL */
.dt_cont{
    background: rgba(127, 249, 113, 0.54);
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}
.dt_img{
    width: 600px;
}
.dt_img img{
    height: 600px;
    max-width: 900px;
}
/* DETAIL */

.table_img{
    max-width: 180px;
    height: 150px;

}
.panel_list{
    display: block;
    margin: auto;
    max-width: 1200px;
    padding: 60px 0;
}
.panel_list table{
    border-collapse: collapse;
    width: 100%;
    text-align: center ;
    border-radius: 20px;
    border: 3px solid #04AA6D;

}
.panel_list th{
    padding: 7px;
    background: #04AA6D;
    color: white;
    font-size: 20px;
}
/* KASSA */
strong{
    display: block;
    font-size: 80px;
}
.cong-xona{
    /* border: 3px solid rgba(127, 249, 113, 0.54); */
    border-radius: 10px;
    padding: 80px;
    display: block;
    margin: auto;
    width: 650px;
}
input[type=text],input[type=email], input[type=password], input[type=file],input[type=number],select,select option {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus,input[type=email]:focus, input[type=password]:focus, input[type=file]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button, input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
  
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    width: 50%;
    margin: auto;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .display1080{
      max-width: 900px;
      padding: 50px;
      display: block;
      margin: auto;
      text-align: center;
  }
  .minus,.plus{
    padding:5px 10px;
    background: white;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    width: 45px;
    height: 45px !important;
  }

  .order_cont{
    width: 100%;
    align-items: start;
    padding: 30px;
    border: 2px solid #03613e;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 30px 0;
  }
  .order_cont img{
    max-width: 100%;
    height: 600px;
    align-items: center;
    display: block;
    margin:auto;
  }
  .order_cont div{
    text-align: left;
  }
  .order_cont h1{
    display: inline-block;
  }