
<div class="dt_cont">
    <div class="dt_img">
        <img src="{{ product.image.url }}" alt="" width="500">
    </div>
    
    <div class="dt_body">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
    </div>
</div>
