{% extends 'kassa.html' %}
{% load static %}

{% block list %}
    <div class="category_list">
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'product:product_list' %}"> "Hammasi" </a>
            </li>
            {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="product_list">
        {% for product in products %}
            <div class="buproduct">
                
                <div class="pr_card">
                    
                    <div class="pr_body">
                        <form action="{% url 'cart:cart_add' product.id %}" method='post' class='form_grid'>
                            <img class='pr_img' src="{{ product.image.url }}" alt='Product image'>
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <h1>{{ product.name | slice:13 }}</h1>
                            <p>{{ product.sotish_narxi }} Sum</p><span>{{product.quantity}}  dona bor</span>
                            <input type="submit" value="Savatga qo'shish" class='knopka_prodaj'>
                        </form>
                    </div>
                    
                </div>
      

            </div>
        {% endfor %}
    </div>

{% endblock list %}