{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>
        {% block title %}
        {% endblock title %}       
    </title>
</head>
<body>
    <nav>
        <span class='logo'>A-POS</span>
        {% comment %} {% if request.user.is_authenticated %}
            <ul class="nav-menu">
                <li {% if section == "dashboard" %} class="selected" {% endif %} >
                    <a href="{% url 'account:dashboard' %}">Dashboard</a>
                </li>
                <li {% if section == "kassa" %} class="selected" {% endif %} >
                </li>
            </ul>
            {% endif %} {% endcomment %}

            <span class="user">
                
                {% if request.user.is_authenticated %}
                    <h1>{{request.user.first_name}}</h1>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'account:admin' %}">Admin panel</a>
                    {% endif %}
                <a href="{% url 'product:product_list' %}">Kassa</a>
                <a href="{% url 'logout' %}">Chiqish</a>
            {% else %}
                <a href="{% url 'login' %}">Kirish</a>
                
            {% endif %}
                
        </span>




        {% comment %} <div>
                <h1 class='white'>{{ user.username }}</h1>
            </div>
            <div>
                {% if user.is_superuser %}
                    <a href="{% url 'account:admin' %}">Admin panel</a>  
                {% endif %}
                <a href="{% url 'logout' %}">Chiqish</a>~~~~~
            </div>
        {% else %}
            <div style='height:40px;'> {% endcomment %}
            
        
    </nav>
    {% block content %}
    {% endblock content %}

    
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>