{% extends 'base.html' %}
{% load static %}

{% block title %}Kassa{% endblock title %}

{% block content %}
<section class="asosiy_kassa">
    <div class="bolim1  ">
        {% block list %}
        {% endblock list %}
    </div>
</section>
{% endblock content %}
