{% extends 'base.html' %}
{% load static %}

{% block title %}Checkout{% endblock title %}

{% block content %}
<div class="display1080">
    <form method="post" action='{% url "orders:order_create" %}' style="border:1px solid #ccc">
        {% csrf_token %}
        <div class="container">
            <h1>Order</h1><br>
            <p>Buyurtma ma'lumotlarini to'ldiring</p><br>
            <hr>
            <ul>
                {% for item in cart %}
                    <li>
                        <strong>
                            {{ item.quantity }} x {{ item.product.name }}
                            <span>{{ item.total_price }}  Uzs</span>
                        </strong>
                    </li>
                {% endfor %}
            </ul><br>
            <strong>Umumiy : {{ cart.get_total_price }}  Uzs</strong>
            <br><br>
            <hr>
            {% for item in form %}
            {{item.label}}
            {{item}}
            {% endfor %}
            
            
            
            
            <div class="clearfix">
                <button type="submit" class="signupbtn">Tasdiqlash</button>
            </div>
        </div>
    </form> 
  
    
</div>
{% endblock content %}

