{% extends 'base.html' %}

{% block content %}
    <div class='cong-xona'>
        <h1>Tabriklaymiz !!!</h1>
        <p>Xaridingiz muvaffaqiyatli amalga oshirildi buyurtma raqami <strong>{{ order }}</strong></p><br>
        <a class="button" href="{% url 'product:product_list' %}">Savdoni davom ettirish</a>
    </div>
{% endblock content %}