{% extends 'base.html' %}
{% load static %}

{% block title %}Savdo tarixi{% endblock title %}

{% block content %}
    <div class='display1080'>
        {% for or in order_item %}
            <div class="order_cont">
                <img src="{{ or.product.image.url }}" alt="">
                <div>
                    <span class="desc">Mahsulot nomi : </span><h1 class="orginal">{{ or.product }}</h1><br>
                    <span class="desc">Buyurtma raqami : </span><h1 class="original">{{ or }}</h1><br>
                    <span class="desc">Mahsulot narxi :  </span><h1 class="original">{{ or.price }} x {{ or.quantity }}</h1><br>
                    <span class="desc">Umumiy narxi :  </span><h1 class="original">{{or.get_cost}}</h1>
                </div>
            </div>
            {% endfor %}
            <strong>Umumiy :  {{ order.get_total_cost }}</strong>
    </div>
{% endblock content %}
